---
import Azure from "../logos/Azure.astro";
import Go from "../logos/Go.astro";
import React from "../logos/React.astro";
import Redux from "../logos/Redux.astro";
import TypeScript from "../logos/TypeScript.astro";
import Tailwind from "../logos/Tailwind.astro";
---

<div class="brand-block">
    <!-- Azure -->
    <Azure text="Azure" />
    <!-- Go -->
    <Go text="Go" />
    <!-- React -->
    <React text="React" />
    <!-- Redux -->
    <Redux text="Redux" />
    <!-- TypeScript -->
    <TypeScript text="TypeScript"/>
    <!-- CSS -->
    <Tailwind text="Tailwind"/>
</div>