---
import Azure from "../logos/Azure.astro";
import AWS from "../logos/AWS.astro";
---
<div class="mt-4">
    <h3>Cloud Service Providers:</h3>
    <div class="brand-block">
        <!-- AWS -->
        <AWS text="AWS" />
        <!-- Azure -->
        <Azure text="Azure"/>
    </div>
</div>