---
import React from "../logos/React.astro";
import AstroLogo from "../logos/Astro.astro";
import Node from "../logos/Node.astro";
import DotNet from "../logos/DotNet.astro";
import Tailwind from "../logos/Tailwind.astro";
---
<div class="mt-4">
    <h3>Frameworks:</h3>
    <div class="brand-block">
        <!-- React -->
        <React text="React"/>
        <!-- Astro -->
        <AstroLogo text="Astro"/>
        <!-- Node.js -->
        <Node text="Node.js"/>
        <!-- DotNet -->
        <DotNet text=".NET"/>
        <!-- Tailwind -->
        <Tailwind text="Tailwind"/>
    </div>
</div>