---
import React from "../logos/React.astro";
import Next from "../logos/Next.astro";
import Svelte from "../logos/Svelte.astro";
import AstroLogo from "../logos/Astro.astro";
import Tailwind from "../logos/Tailwind.astro";
---

<div class="mt-4">
    <h3>Frameworks:</h3>
    <div class="brand-block">
        <!-- React -->
        <React text="React"/>
        <!-- Next.js -->
        <Next text="Next.js" />
        <!-- Svelte -->
        <Svelte text="Svelte" />
        <!-- Astro -->
        <AstroLogo text="Astro"/>
        <!-- Tailwind -->
        <Tailwind text="Tailwind"/>
    </div>
</div>
