---
import Windows from "../logos/Windows.astro";
import Shell from "../logos/Shell.astro";
import MacOs from "../logos/MacOs.astro";
import Linux from "../logos/Linux.astro";
---
<div class="mt-4">
    <h3>General:</h3>
    <div class="brand-block">
        <!-- Linux -->
        <Linux text="Linux" />
        <!-- macOS -->
        <MacOs text="macOS" />
        <!-- Windows -->
        <Windows text="Windows" />
        <!-- Shell -->
        <Shell text="Shell" />

    </div>
</div>