---
import JavaScript from "../logos/JavaScript.astro";
import TypeScript from "../logos/TypeScript.astro";
import Go from "../logos/Go.astro";
import Python from "../logos/Python.astro";
import SQL from "../logos/Sql.astro";
import HTML5 from "../logos/HTML5.astro";
import CSS from "../logos/CSS.astro";
---
<div>
    <h3>Programming Languages:</h3>
    <div class="brand-block">
        <!-- JavaScript -->
        <JavaScript text="JavaScript"/>
        <!-- TypeScript -->
        <TypeScript text="TypeScript"/>
        <!-- Go -->
        <Go text="Go"/>
        <!-- Python -->
        <Python text="Python" />
        <!-- SQL -->
        <SQL text="SQL"/>
        <!-- HTML -->
        <HTML5 text="HTML5"/>
        <!-- CSS -->
        <CSS text="CSS"/>
    </div>
</div>
