---
import GitHub from "../logos/GitHub.astro";
import Git from "../logos/Git.astro";
import Postman from "../logos/Postman.astro";
import JetBrains from "../logos/JetBrains.astro";
import Neovim from "../logos/Neovim.astro";
import Chrome from "../logos/Chrome.astro";
import Firefox from "../logos/Firefox.astro";
---
<div class="mt-4">
    <h3>Tools:</h3>
    <div class="brand-block">
        <!-- Git -->
        <Git text="git"/>
        <!-- GitHub -->
        <GitHub text="GitHub"/>
        <!-- Postman -->
        <Postman text="Postman"/>
        <!-- JetBrains -->
        <JetBrains text="JetBrains"/>
        <!-- Neovim -->
        <Neovim text="Neovim" />
        <!-- Chrome -->
        <Chrome text="Chrome"/>
        <!-- Firefox -->
        <Firefox text="Firefox"/>
    </div>
</div>
