---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/react/ContactForm";
---

<Layout title="Contact">
    <main>
        <ContactForm client:visible />
    </main>
</Layout>