---
import Layout from '../layouts/Layout.astro';
import MainLockup from "../components/home/MainLockup.astro";
import ArticleLockup from "../components/home/ArticleLockup.astro";
import ProjectLockup from "../components/home/ProjectLockup.astro";
import SkillsLockup from "../components/home/SkillsLockup.astro";
import ContactForm from "../components/react/ContactForm";
---

<Layout title="Home">
	<main>
		<MainLockup />
		<SkillsLockup />
		<ProjectLockup />
		<ArticleLockup />
		<ContactForm client:visible/>
	</main>
</Layout>

