---
import Layout from '../layouts/Layout.astro';
import MainLockup from "../components/home/MainLockup.astro";
import ArticleLockup from "../components/home/ArticleLockup.astro";
---

<Layout title="Home">
	<main>
		<MainLockup />
		<ArticleLockup />
	</main>
</Layout>

