---
import Layout from "../layouts/Layout.astro";
import ResumeBlock from "../components/resume/ResumeBlock.astro";
---

<Layout title="Resume">
    <main>
        <ResumeBlock />
    </main>
</Layout>