---
import MainButton from "../MainButton.astro";
import Socials from "../Socials.astro";
---
<div class="my-4 py-10">
    <div class="flex flex-col">
        <div>
            <h1 class="bg-clip-text text-transparent bg-gradient-to-r from-zinc-50 via-zinc-600 to-zinc-950">
                Full Stack Developer</h1>
            <p class="max-w-[40rem]">
                Howdy, I'm Jeremy Novak, a developer from Texas. I build lightning-fast
                websites for businesses like yours that look fantastic on all devices.
                I would love to hear how I can help you achieve your goals.
            </p>
            <div class="mt-10 flex space-x-12">
                <MainButton text="View Resume" url="/resume"/>
                <div class="hidden md:flex md:items-center">
                    <Socials/>
                </div>
            </div>
        </div>
        <div class="flex mx-auto">
        </div>
    </div>
</div>