---
import TypeScript from "../logos/TypeScript.astro";
import React from "../logos/React.astro";
import Tailwind from "../logos/Tailwind.astro";
import CSharp from "../logos/CSharp.astro";
import Go from "../logos/Go.astro";
import AWS from "../logos/AWS.astro";
---

<section>
    <h2>My Top Skills</h2>
    <div class="brand-block">
        <!-- TypeScript -->
        <TypeScript text="TypeScript"/>
        <!-- React -->
        <React text="React"/>
        <!-- Tailwind -->
        <Tailwind text="Tailwind"/>
        <!-- C# -->
        <CSharp text="C#"/>
        <!-- DotNet -->
        <Go text="Go"/>
        <!-- Azure -->
        <AWS text="AWS"/>
    </div>
</section>