---
import TypeScript from "../logos/TypeScript.astro";
import React from "../logos/React.astro";
import Tailwind from "../logos/Tailwind.astro";
import Next from "../logos/Next.astro";
import Go from "../logos/Go.astro";
import AWS from "../logos/AWS.astro";
---

<section>
    <h2>Top Skills</h2>
    <div class="brand-block">
        <!-- TypeScript -->
        <TypeScript text="TypeScript"/>
        <!-- Go -->
        <Go text="Go"/>
        <!-- React -->
        <React text="React"/>
        <!-- Next.js -->
        <Next text="Next.js"/>
        <!-- Tailwind -->
        <Tailwind text="Tailwind"/>
        <!-- Azure -->
        <AWS text="AWS"/>
    </div>
</section>