/* poppins-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/poppins-v20-latin-200.eot'); /* IE9 Compat Modes */
    src: url('/fonts/poppins-v20-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/poppins-v20-latin-200.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/poppins-v20-latin-200.woff') format('woff'), /* Modern Browsers */ url('/fonts/poppins-v20-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/poppins-v20-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */ url('/fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/poppins-v20-latin-italic.eot'); /* IE9 Compat Modes */
    src: url('/fonts/poppins-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/poppins-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/poppins-v20-latin-italic.woff') format('woff'), /* Modern Browsers */ url('/fonts/poppins-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/poppins-v20-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: url('/fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */ url('/fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
    src: url('/fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */ url('/fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: url('/fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */ url('/fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/poppins-v20-latin-800.eot'); /* IE9 Compat Modes */
    src: url('/fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/poppins-v20-latin-800.woff') format('woff'), /* Modern Browsers */ url('/fonts/poppins-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/poppins-v20-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/poppins-v20-latin-900.eot'); /* IE9 Compat Modes */
    src: url('/fonts/poppins-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/poppins-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/poppins-v20-latin-900.woff') format('woff'), /* Modern Browsers */ url('/fonts/poppins-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/poppins-v20-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply overscroll-none h-[100%] text-zinc-100/70 bg-zinc-900;
    }

    main {
        @apply px-8 mt-14 mx-auto md:mx-12 2xl:mx-40;
    }

    nav {
        @apply sticky z-50 top-0 py-4 px-6 md:px-16 2xl:px-44 flex items-center justify-between border-b border-zinc-700/50 bg-zinc-900 backdrop-blur-2xl bg-opacity-70 shadow-md;
    }

    nav > div > ul {
        @apply lowercase m-2 flex space-x-6 justify-end;
    }

    nav > div > ul > li > a {
        @apply uppercase p-2 transition-all delay-100 text-zinc-400;
    }

    nav > div > ul > li > a:hover {
        @apply text-white;
    }

    nav > div > ul > li > a.active {
        @apply underline underline-offset-8 text-white;
    }

    footer {
        @apply bottom-0 py-6 px-6 md:px-16 2xl:px-44 md:mt-8 text-sm flex justify-between text-zinc-400;
    }

    .socials {
        @apply text-zinc-300;
    }

    .socials:hover {
        @apply transition-colors duration-100 ease-in-out text-zinc-50;
    }

    h1 {
        @apply py-10 uppercase text-5xl md:text-7xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-zinc-50 to-zinc-700;
    }

    h2 {
        @apply pb-6 ml-2 mt-8 uppercase text-3xl font-semibold text-zinc-300;
    }

    h3 {
        @apply py-2 my-2 uppercase text-xl font-semibold text-zinc-300;
    }

    h4 {
        @apply ml-2 my-2 text-zinc-500 dark:text-zinc-400;
    }

    h5 {
        @apply ml-2 my-2 text-zinc-500 dark:text-zinc-400;
    }

    section {
        @apply my-16;
    }

    .gradient-text {
        @apply font-semibold;
    }

    p {
        @apply py-2 min-w-[18rem] md:max-w-[35rem] xl:max-w-[45rem] 2xl:max-w-[65rem];
    }

    p > a {
        @apply font-semibold text-indigo-300 transition-all;
    }

    p > a:hover {
        @apply duration-75 ease-in underline underline-offset-4;
    }

    input {
        @apply appearance-none max-w-[30rem] pl-3 mt-2 outline-0 ring-1 ring-inset ring-zinc-700/40 focus:ring-zinc-200 bg-zinc-950 rounded-md;
    }

    textarea {
        @apply max-w-[30rem] pl-3 outline-0 ring-1 ring-zinc-700/40 focus:ring-zinc-200 bg-zinc-950 rounded-md;
    }

    p > code {
        @apply font-mono p-1;
    }

    pre {
        @apply my-4 py-4 px-2 max-w-[75rem];
    }

    .site-logo {
        @apply ml-1 lg:ml-3 w-5 text-zinc-300;
    }

    .site-logo:hover {
        @apply transition-colors delay-75 ease-in-out text-zinc-50;
    }

    .black-button {
        @apply px-8 py-4 w-full min-w-full md:min-w-[18rem] md:max-w-[18rem] flex space-x-4 text-sm md:text-base items-center justify-center uppercase border border-zinc-700 text-zinc-200 bg-zinc-800 rounded-md shadow-md disabled:bg-zinc-700 disabled:cursor-not-allowed dark:disabled:bg-zinc-700;
    }

    .black-button > svg {
        @apply fill-zinc-200;
    }

    .black-button:hover {
        @apply transition-all delay-100 ease-in-out text-white bg-black dark:bg-zinc-800/40 disabled:bg-zinc-700 disabled:text-zinc-200 dark:disabled:bg-zinc-700;
    }

    .black-button:hover > svg {
        @apply transition-all delay-100 ease-in-out fill-white disabled:fill-zinc-200;
    }

    .brand-block {
        @apply grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 2xl:grid-cols-12 gap-6 place-content-center place-items-center md:place-items-start;
    }

    .brand-icon-block {
        @apply w-[100px] h-[100px] flex flex-col items-center justify-center;
    }

    /*  Contact Form Section */
    .contact-form {
        @apply grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-12;
    }

    .contact-span {
        @apply text-sm md:text-base text-zinc-300;
    }

    .contact-form-left {
        @apply col-span-1 lg:col-span-1 2xl:col-span-4 pt-4 flex flex-col;
    }

    .contact-form-right {
        @apply flex md:p-12 2xl:col-span-5 2xl:px-12 2xl:py-8 my-10 bg-zinc-800/20 rounded-md shadow-lg;
    }

    .contact-form-right div {
    }

    .contact-form-icon {
        @apply w-6 fill-zinc-50;
    }
}